<div>
    <h2 style="text-align: center; color: #8396d3; font-family: Arial;">Notificación de operación con factura<br /></h2>
    <p style="text-align: center;">Por este medio lo contactamos para informarlo que su factura con UUID ${invoice.uuid} y emisor ${invoice.emisor.name} con RFC ${invoice.emisor.rfc} ha sido subida a nuestra plataforma para que sea fondeada. Para otogar su consentimiento, es necesario que ingresa al siguiente enlace y acepte la información mostrada. En caso de no tener respuesta en 72 horas el consentmiento se dará de forma automática.</p>
    <p style="text-align: center;">
    	<a href="#" style="text-decoration: none;background-color: #113f67;padding-left: 40px;padding-right:40px;padding-top: 10px;padding-bottom:10px;color:white;font-weight: 700; font-size: 20px;border-radius: 5px">Ir a CREEDITO</a>
    </p>
</div>
