<div>
    <h2 style="text-align: center; color: #8396d3; font-family: Arial;">Inicio de sesión en nueva ubicación<br /></h2>
    <p style="text-align: center;">Apreciable ${user.name}. Hemos detectado que en este momento se ha iniciado sesión en tu cuenta desde un origen distinto al que sueles usar. Si has sido tú, puedes ignorar este alerta.</p>
    <p style="text-align: center;">
    	En caso de no reconocer este inicio de sesión, por favor envíenos un correo a <strong>soporte@creedito.mx</strong>.
    </p>
</div>
