<div>
    <h2 style="text-align: center; color: #8396d3; font-family: Arial;">¡Bienvenido a Creedito!<br /></h2>
    <p style="text-align: center;">Tu cuenta ha sido creada exitosamente, pero aún necesita ser verificada. Por favor entra al siguiente enlace para verificarla:</p>
  	<p style="text-align:center;margin-top: 50px">
    <a href="${verificationURL}" style="text-decoration: none;background-color: #113f67;padding-left: 40px;padding-right:40px;padding-top: 10px;padding-bottom:10px;color:white;font-weight: 700; font-size: 20px;border-radius: 5px">Verificar cuenta</a>
  	</p>
</div>